<% include('../layouts/header.ejs') %>

<h1>Reset Password</h1>

<form action="" method="post">
  <input
    type="text"
    name="password"
    placeholder="Enter New Password"
  /><br /><br />
  <input type="hidden" name="admin_id" value="<%=admin_id%>" /><br /><br />
  <input type="submit" value="Update" />
</form>

<% include('../layouts/footer.ejs') %>
