<%- include('../layouts/header.ejs') %>

<div class="password-change-page">
  <div class="container">
    <h1>Reset Password</h1>

    <form action="" method="post">
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Enter New Password"
          required
          minlength="8"
        />
        <p class="password-requirements">Minimum 8 characters</p>
      </div>

      <input type="hidden" name="admin_id" value="<%=admin_id%>" />

      <input type="submit" value="Update Password" />
    </form>
  </div>
</div>

<%- include('../layouts/footer.ejs') %>
