<% include('../layouts/header.ejs') %>

<h1>Reset Password</h1>

<% if(typeof message !== 'undefined'){ %>
<h3><%= message %></h3>
<% } %>

<form action="" method="post">
  <input type="email" name="email" placeholder="Enter Email" /><br /><br />
  <input type="submit" value="Reset" />
</form>

<% include('../layouts/footer.ejs') %>
