<%- include('../layouts/header.ejs') %>

<div class="reset-container">
  <h1>Reset Password</h1>

  <% if(typeof message !== 'undefined'){ %>
  <div
    class="alert-message <%= typeof messageType !== 'undefined' ? messageType : '' %>"
  >
    <%= message %>
  </div>
  <% } %>

  <form action="/forget" method="post">
    <div class="form-group">
      <input
        type="email"
        name="email"
        class="form-input"
        placeholder="Enter your email address"
        required
        autocomplete="email"
      />
    </div>

    <button type="submit" class="submit-btn">Send Reset Link</button>
  </form>

  <p class="help-text">
    Enter your email address and we'll send you a link to reset your password.
  </p>
</div>

<%- include('../layouts/footer.ejs') %>
