<% include('../layouts/header.ejs') %>

<h1>Login</h1>

<% if(typeof message !== 'undefined'){ %>
<h4><%= message %></h4>
<% } %>

<form action="/login" method="post">
  <input type="email" name="email" required placeholder="Enter email" />
  <input
    type="password"
    name="password"
    required
    placeholder="Enter Password"
  />
  <input type="submit" value="Login" />
</form>

<a href="/forget">Forget Password</a>
<a href="/verification">Send Verify Mail</a>

<% include('../layouts/footer.ejs') %>
